.aboutMe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(88%, 125rem);
  margin: 0 auto;
}

.aboutMe::before {
  content: '';
  display: block;
  height: calc(var(--navbar-height) + 40px);
  visibility: hidden;
}

.aboutMe__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.aboutMe__content h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: var(--c-primary-light);
  margin-bottom: 16px;
  text-align: center;
}

.aboutMe__content__text {
  grid-area: text;
}

.aboutMe__content__text > p {
  font-size: 18px;
  color: var(--c-foreground-1);
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.aboutMe__content__text > p > i {
  color: var(--c-primary-light);
}

.aboutMe__content__text > p:last-child {
  margin-bottom: 24px;
}

.aboutMe__content__skills {
  grid-area: skills;
}

.aboutMe__content__skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.aboutMe__content__skills__list > li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--c-foreground-1);
}

.aboutMe__content__skills__list svg {
  color: var(--c-primary);
}

.aboutMe__content__image {
  grid-area: image;
  position: relative;
  margin: auto;
}

.aboutMe__content__image::before {
  width: 450px;
  height: 450px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 0 transparent;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  transition: box-shadow 0.3s;
}

.aboutMe__content__image:hover:before {
  box-shadow: 0 0 200px 5px var(--c-primary);
}

.aboutMe__content__image img {
  border-radius: 50%;
  margin: 0;
  height: 300px;
  width: 300px;
}

@media (min-width: 768px) {
  .aboutMe__content__image img {
    height: 450px;
    width: 450px;
  }

  .aboutMe__content {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas: 'text image' 'skills image';
  }

  .aboutMe__content__skills__list {
    justify-content: flex-start;
  }

  .aboutMe__content h3 {
    text-align: start;
  }

  .aboutMe__content__text > p {
    text-align: start;
  }
}
