.showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 65px;
}

.showcase::before {
  content: '';
  display: block;
  height: calc(var(--navbar-height) + 40px);
  visibility: hidden;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project__card {
  background-color: var(--c-background-soft);
  border-radius: 12px;
  border: 1px solid var(--c-background-soft);
  transition:
    border-color 0.25s,
    background-color 0.25s;
}

.project__card:hover {
  background-color: var(--c-background-softer);
  border-color: var(--c-primary);
}

.project__card__content {
  padding: 24px;
}

.project__card__content__img {
  display: none;
}

.project__card__content__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
}

.project__card__content__text > h3 {
  font-size: 16px;
  font-weight: 600;
}

.project__card__content__text > p {
  color: var(--c-foreground-2);
}

.project__card__content__links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.project__card__content__links > a {
  color: var(--c-primary);
  transition: color 0.25s;
}

.project__card__content__links > a:hover {
  color: var(--c-primary-light);
}

.project__card__content__additional__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.project__card__content__inprogress {
  display: inline-block;
  border: 1px solid var(--c-primary-light);
  border-radius: 20px;
  padding: 2px 20px;
}

@media (min-width: 768px) {
  .project__card__content {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0;
  }

  .project__card__content__img {
    display: block;
  }
}
