.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--navbar-z-index);
  pointer-events: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition:
    background-color 0.5s,
    border-bottom-color 0.5s;
}

.header__scrolling {
  background-color: var(--c-background);
  border-bottom-color: var(--c-gutter);
}

.navbar {
  position: relative;

  height: var(--navbar-height);
  padding: 0 32px;
  pointer-events: none;
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: calc(var(--layout-max-width) - 64px);
  margin: 0 auto;
}

.container > * {
  pointer-events: auto;
}

.title {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  font-size: 16px;
  font-weight: 600;
}

.navbarMenu {
  display: flex;
}

.navbarMenu > a {
  display: flex;
  align-items: center;
  line-height: var(--navbar-height);
  font-size: 14px;
  padding: 0 12px;
  transition: color 0.25s;
}

.navbarMenu > a:hover {
  color: var(--c-primary-lighter);
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.socialLinks > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-foreground-2);
  height: 36px;
  width: 36px;
  transition: color 0.25s;
}

.socialLinks > a:hover {
  color: var(--c-foreground-1);
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--c-foreground-1);
}

.naveScreen {
  position: fixed;
  top: calc(var(--navbar-height) + 1px);
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--c-background);
  overflow-y: auto;
  z-index: var(--navbar-z-index);
  pointer-events: auto;
}

.naveScreen__container {
  margin: 0 auto;
  padding: 24px 0 96px;
  max-width: 288px;
}

.naveScreen__container__menu {
}

.naveScreen__container__menu > a {
  display: block;
  border-bottom: 1px solid var(--c-divider);
  padding: 12px 0 11px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--c-foreground-1);
  transition:
    border-color 0.25s,
    color 0.25s;
}

@media (min-width: 768px) {
  .socialLinks {
    justify-content: normal;
    margin-top: 0;
  }

  .socialLinks:before {
    margin-left: 16px;
    margin-right: 8px;
    content: '';
    width: 1px;
    height: 24px;
    background-color: var(--c-divider);
  }
}
