.section {
  opacity: 0;
  transition: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.section__fadeIn {
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: calc(var(--layout-max-width) - 64px);
}
