.hero {
  min-height: 93vh;
  min-height: 93svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content {
  position: relative;
  z-index: 10;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.hero__content__intro {
  font-size: 20px;
  line-height: 32px;
}

.hero__content__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 32px;
  line-height: 40px;
  align-items: center;
}

.hero__content__title__name {
  background: -webkit-linear-gradient(
    120deg,
    var(--c-primary) 30%,
    var(--c-foreground-1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__content__title__job {
  font-weight: 500;
}

.hero__content__location {
  margin-top: 16px;
  display: flex;
  gap: 4px;
  font-size: 18px;
  align-items: center;
}

.hero__content__description {
  margin-top: 16px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: var(--c-foreground-2);
}

.hero__content__buttons {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

@media (min-width: 768px) {
  .hero__content {
    align-items: flex-start;
  }

  .hero__content__intro {
    font-size: 24px;
    line-height: 32px;
  }

  .hero__content__title {
    gap: 8px;
    align-items: flex-start;
    font-size: 56px;
    line-height: 64px;
  }

  .hero__content__description {
    width: 60%;
    margin-top: 16px;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
  }
}
